.blog {
  font-family: $text-primary;
  color: $text-primary-color;

  &-first {
    padding: 113px 0 7px;
    width: 617px;
    margin: auto;
    text-align: center;
    margin-bottom: 233px;

    &__headline {
      font-weight: $text-bold-weight;
      font-size: 48px;
    }

    &__text {
      margin: auto;
      text-align: center;
      width: 461px;
      font-weight: $text-regular-weight;
      font-size: 16px;
      padding-bottom: 66px;
    }
  }

  &-second {
    display: flex;
    justify-content: space-around;
    padding-right: 60px;

    &__container {
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      width: 638px;
      padding-left: 62px;
    }

    &__headline {
      font-weight: $text-bold-weight;
      font-size: 48px;
    }

    &__text {
      font-weight: $text-regular-weight;
      font-size: 16px;
      width: 632px;
    }

    &__img {
        width: 690px;
        padding-bottom: 170px;
    }
  }
}
