@font-face {
    font-family: $text-primary;
    src: url("../fonts/SFProDisplay-Regular.woff");
    font-weight: $text-regular-weight;
}

@font-face {
    font-family: $text-primary;
    src: url("../fonts/SFProDisplay-Medium.woff");
    font-weight: $text-medium-weight;
}

@font-face {
    font-family: $text-primary;
    src: url("../fonts/SFProDisplay-Bold.woff");
    font-weight: $text-bold-weight;
}