.footer {
  padding-top: 159px;
  background-color: $bg-second-color;
  font-family: $text-primary;

  &-container {
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    padding: 0 52px;

    &__block {
      display: flex;
      flex-direction: column;
      padding-bottom: 52px;
    }

    &__text {
      color: $text-second-color;
      font-weight: $text-bold-weight;
      font-size: 18px;
      margin-bottom: 21px;
    }

    &__link {
      color: $text-primary-color;
      font-weight: $text-medium-weight;
      font-size: 18px;
      margin-bottom: 21px;
      border: none;
      text-decoration: none;
    }

    &__img {
        padding-left: 180px;
    }
  }
  
  &-copyright {
      display: flex;
      height: 33px;
      background-color: $bg-primary-color;
      font-weight: $text-medium-weight;
      color: $text-primary-color;
      font-size: 10px;
      text-align: center;
      align-items: center;
      justify-content: center;
  }
}
