.header {
  font-family: $text-primary;
  background-color: $bg-primary-color;
  margin: auto;
  display: flex;
  justify-content: space-around;
  position: fixed;
  align-items: flex-start;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  padding: 0 108px;

  &-navigation {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 216px - 170px);
    padding-right: 180px;
  }

  &-navigation__link {
    font-weight: $text-bold-weight;
    text-decoration: none;
    color: $text-primary-color;
    font-size: 18px;
    margin-top: 14px;
  }

  &-logo {
      margin-top: 10px;
  }

  &-social {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: calc(100% - 216px - 170px);
    padding-left: 70px;
  }

  &-social__svg {
      margin-left: 24px;
      margin-top: 14px;
  }
}
