.listen {
  display: flex;
  font-family: $text-primary;
  color: $text-primary-color;
  background-color: $bg-second-color;
  justify-content: space-between;

  &-container {
    padding-top: 232px;
    padding-left: 97px;
    width: 531px;
  }

  &-headline {
    font-size: 48px;
    font-weight: $text-bold-weight;
    padding-bottom: 10px;
  }

  &-text {
    font-size: 16px;
    font-weight: $text-regular-weight;
    width: 397px;
    padding-bottom: 22px;
  }

  &-btn {
    background: #3531a9;
    border-radius: 5px;
    width: 150px;
    height: 43px;
    border: none;
    outline: none;
    border-color: none;
    cursor: pointer;
    color: $text-primary-color;
    text-align: center;
    font-size: 18px;
    font-weight: $text-regular-weight;
    transition: 0.1s;
  }

  &-btn:hover {
    background: #1A1780;
  }

  &-img {
    width: 765px;
    height: 680px;
  }
}
