.presentation {
    margin-top: 80px;
    background: url('../img/BG_img_header.png') no-repeat 100% 100%;
    width: 100%;
    background-size: cover;
    background-position: 100% 100%;
    height: calc(100vh - 80px);

    &-container {
        padding-top: 239px;
        margin-left: 87px;
        width: 565px;
        color: $text-primary-color;
        font-family: $text-primary;
    }

    &-headline {
        font-weight: $text-bold-weight;
        font-size: 64px;
    }

    &-text {
        font-weight: $text-medium-weight;
        font-size: 36px;
        padding-bottom: 15px;
    }
}