.price {
  padding-top: 170px;
  color: $text-primary-color;
  font-family: $text-primary;

  &-container {
    display: flex;
    justify-content: space-between;
    width: 1042px;
    margin: auto;
  }

  &-icon {
    width: 275px;
    height: 344px;
    background: linear-gradient(180deg, #3531a9 0%, #4303a4 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        padding-top: 56px;
    }

    &__headline {
       font-weight: $text-bold-weight;
       font-size: 30px;
       padding-top: 12px;
    }

    &__text {
        font-weight: $text-regular-weight;
        font-size: 16px;
        padding: 10px 18px 34px 17px;
    }

    &__cost {
        font-weight: $text-bold-weight;
        font-size: 36px;
    }
  }

  &-btn {
    display: flex;
    margin: 66px auto 69px;
    width: 130px;
    height: 43px;
    background: linear-gradient(180deg, #c157ab 0%, #fb85a1 100%);
    border-radius: 5px;
    font-weight: $text-regular-weight;
    font-size: 18px;
    color: $text-primary-color;
    border: none;
    border-color: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  &-btn:hover {
    background: linear-gradient(180deg, #930475 0%, #FF275C 100%);
  }
}
