$text-primary: "SFProDisplay", sans-serif;
$text-regular-weight: 400;
$text-medium-weight: 500;
$text-bold-weight: 700;

$bg-primary-color: #09002B;
$bg-second-color: #11024B;

$text-primary-color: #fff;
$text-second-color: #3531A9;
