* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #09002B;
}

@font-face {
  font-family: "SFProDisplay", sans-serif;
  src: url("../fonts/SFProDisplay-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "SFProDisplay", sans-serif;
  src: url("../fonts/SFProDisplay-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "SFProDisplay", sans-serif;
  src: url("../fonts/SFProDisplay-Bold.woff");
  font-weight: 700;
}

.header {
  font-family: "SFProDisplay", sans-serif;
  background-color: #09002B;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  padding: 0 108px;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 216px - 170px);
  padding-right: 180px;
}

.header-navigation__link {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-top: 14px;
}

.header-logo {
  margin-top: 10px;
}

.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 216px - 170px);
  padding-left: 70px;
}

.header-social__svg {
  margin-left: 24px;
  margin-top: 14px;
}

.presentation {
  margin-top: 80px;
  background: url("../img/BG_img_header.png") no-repeat 100% 100%;
  width: 100%;
  background-size: cover;
  background-position: 100% 100%;
  height: calc(100vh - 80px);
}

.presentation-container {
  padding-top: 239px;
  margin-left: 87px;
  width: 565px;
  color: #fff;
  font-family: "SFProDisplay", sans-serif;
}

.presentation-headline {
  font-weight: 700;
  font-size: 64px;
}

.presentation-text {
  font-weight: 500;
  font-size: 36px;
  padding-bottom: 15px;
}

.price {
  padding-top: 170px;
  color: #fff;
  font-family: "SFProDisplay", sans-serif;
}

.price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1042px;
  margin: auto;
}

.price-icon {
  width: 275px;
  height: 344px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3531a9), to(#4303a4));
  background: linear-gradient(180deg, #3531a9 0%, #4303a4 100%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-icon__img {
  padding-top: 56px;
}

.price-icon__headline {
  font-weight: 700;
  font-size: 30px;
  padding-top: 12px;
}

.price-icon__text {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 18px 34px 17px;
}

.price-icon__cost {
  font-weight: 700;
  font-size: 36px;
}

.price-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 66px auto 69px;
  width: 130px;
  height: 43px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c157ab), to(#fb85a1));
  background: linear-gradient(180deg, #c157ab 0%, #fb85a1 100%);
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border: none;
  border-color: none;
  cursor: pointer;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#930475), to(#FF275C));
  background: linear-gradient(180deg, #930475 0%, #FF275C 100%);
}

.listen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "SFProDisplay", sans-serif;
  color: #fff;
  background-color: #11024B;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listen-container {
  padding-top: 232px;
  padding-left: 97px;
  width: 531px;
}

.listen-headline {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 10px;
}

.listen-text {
  font-size: 16px;
  font-weight: 400;
  width: 397px;
  padding-bottom: 22px;
}

.listen-btn {
  background: #3531a9;
  border-radius: 5px;
  width: 150px;
  height: 43px;
  border: none;
  outline: none;
  border-color: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.listen-btn:hover {
  background: #1A1780;
}

.listen-img {
  width: 765px;
  height: 680px;
}

.blog {
  font-family: "SFProDisplay", sans-serif;
  color: #fff;
}

.blog-first {
  padding: 113px 0 7px;
  width: 617px;
  margin: auto;
  text-align: center;
  margin-bottom: 233px;
}

.blog-first__headline {
  font-weight: 700;
  font-size: 48px;
}

.blog-first__text {
  margin: auto;
  text-align: center;
  width: 461px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 66px;
}

.blog-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 60px;
}

.blog-second__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  width: 638px;
  padding-left: 62px;
}

.blog-second__headline {
  font-weight: 700;
  font-size: 48px;
}

.blog-second__text {
  font-weight: 400;
  font-size: 16px;
  width: 632px;
}

.blog-second__img {
  width: 690px;
  padding-bottom: 170px;
}

.footer {
  padding-top: 159px;
  background-color: #11024B;
  font-family: "SFProDisplay", sans-serif;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 52px;
}

.footer-container__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 52px;
}

.footer-container__text {
  color: #3531A9;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 21px;
}

.footer-container__link {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 21px;
  border: none;
  text-decoration: none;
}

.footer-container__img {
  padding-left: 180px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
  background-color: #09002B;
  font-weight: 500;
  color: #fff;
  font-size: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */